<!DOCTYPE html>
{% extends 'sequencelistings/base.html' %}

{%block header_block %}
    <h2>Create residues from formula</h2>
{% endblock %}

{% block body_block %}
<p><a href="{% url 'sequencelistings:index' %}">Home &gt;&gt;</a>
<a href="{% url 'sequencelistings:detail' pk %}">{{seql}} &gt;&gt;</a>
</p>

<hr>

<form action="" method="post">
    {% csrf_token %}
    <p>Enter the formula for the sequence with repeat regions.</p>
        {{form.as_p}}
    <br>
    <p><input type="submit" value="Submit" /></p>
</form>
{% endblock %}